data
methodology_comparison
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/21B9ECE5/sources/prop/INDEX
.Rproj.user/21B9ECE5/sources/prop/CFAE41FA
.Rproj.user/21B9ECE5/sources/prop/96D3B714
.Rproj.user/21B9ECE5/sources/prop/85C32F5A
.Rproj.user/21B9ECE5/sources/prop/716B5D60
.Rproj.user/21B9ECE5/sources/prop/675D9042
.Rproj.user/21B9ECE5/sources/prop/4B7B8C51
.Rproj.user/21B9ECE5/sources/prop/35B0255A
.Rproj.user/21B9ECE5/sources/prop/152D21F
.Rproj.user/21B9ECE5/saved_source_markers
.Rproj.user/21B9ECE5/rmd-outputs
.Rproj.user/21B9ECE5/pcs/workbench-pane.pper
.Rproj.user/21B9ECE5/pcs/windowlayoutstate.pper
.Rproj.user/21B9ECE5/pcs/source-pane.pper
.Rproj.user/21B9ECE5/pcs/files-pane.pper
.Rproj.user/21B9ECE5/console06/INDEX001
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/rGraphicsSettings.xml
.idea/rSettings.xml
.idea/SmartMeterADMD.iml
1000_sample.csv
